<!doctype html>

<html lang="en">

	<head>

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	  <base href="/">
	  <title>Hoodat - The Musician Search App</title>

	  <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="styles/main.css">
	  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

	</head>


	<body ng-app="HoodatApp">

		<div ng-controller="MasterControl">

			<nav ng-controller="NavControl" class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" ng-click="resetSearch()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" ng-click="$parent.returnHome()" href="/"><span class="branding">HOODAT<span></a>
			    </div>

			    <div class="collapse navbar-collapse animate-hide" id="bs-example-navbar-collapse-1">
		      	<form class="navbar-form navbar-left" role="search">
		        	<div class="form-group navSearch">
		          	<input type="text" ng-keypress="navreturnKey($event)" class="form-control" placeholder="{{searchText}}" ng-model="$parent.searchData" autofocus>
		        	</div>
		        	<button type="button" ng-click="$parent.search();closeNav()" class="btn btn-info btnSearch" id="navigationSearch">Search</button>
		      	</form>
			      <ul class="nav navbar-nav navbar-right">
			      	<li ng-show="loggedIn"><span class="userGreeting">WELCOME, {{username}}!</span></li>
			        <!-- <li ng-show="loggedIn" ng-click="gotoAnchor('discography')"><a href="#">DISCOGRAPHY</a></li>
			        <li ng-show="loggedIn"><a href="#videos">VIDEOS</a></li> -->
			        <li ng-hide="loggedIn"><a href="#/register">REGISTER</a></li>
			        <li ng-hide="loggedIn"><a href="#/login">LOGIN</a></li>
			        <li ng-show="loggedIn" ng-click="getPastArtists()"><span class="userOptions">PAST SEARCHES</span></li>
			        <li ng-show="loggedIn" ng-click="logout()"><a href="#">LOGOUT</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>


			<section ng-view id="container">

			</section>

		</div>

		<!-- ANGULAR SCRIPTS -->
	  	<script src="lib/bower_components/angular/angular.min.js"></script>
	  	<script src="lib/bower_components/angular-route/angular-route.js"></script>

	  	<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	  	<script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	  	<script src="lib/bower_components/angular-filter/dist/angular-filter.min.js"></script>

	  	<!-- FIREBASE SCRIPTS -->
	  	<script src="lib/bower_components/firebase/firebase.js"></script>
	  	<script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>


	  	<script src="app/app.js"></script>
	  	<script src="app/md5_2.js"></script>

	  	<!-- FACTORY SCRIPTS -->
	  	<script src="app/factories/FindMusic.js"></script>
	  	<script src="app/factories/Authenticate.js"></script>
	  	<script src="app/factories/Keys.js"></script>

	  	<!-- CONTROLLER SCRIPTS -->
	  	<script src="app/controllers/MasterControl.js"></script>
	  	<script src="app/controllers/LoginControl.js"></script>
	  	<script src="app/controllers/RegisterControl.js"></script>
	  	<script src="app/controllers/NavControl.js"></script>
	  	<script src="app/controllers/MainControl.js"></script>
	  	<script src="app/controllers/PastArtistControl.js"></script>
	  	<script src="app/controllers/FooterControl.js"></script>

	</body>

</html>
