
<section id="home" ng-show="home">
	<div id="homePage">
		<!-- <img src="logo.jpg"> -->
		<div id="homeContent">
		
			<h1>HOODAT</h1>
			<p id="subtitle">THE MUSICIAN SEARCH APP</p>

			<input class="middle form-control" type="text" id="search" ng-keypress="returnKey($event)" placeholder="Search For An Artist" ng-model="$parent.searchData">

			<button type="button" class="btn btn-lg btn-danger" ng-click="$parent.search()" id="homeSearch">Search</button>
			
			<div id="loginOrRegister" ng-bind-html="homeMessage">
				{{homeMessage}}
			</div>

		</div>

	</div>

	<div ng-include="'app/partials/footer.html'">
	</div>

</section>

<section id="results" ng-show="results">

	<img class="artistimage" src="{{artistPhoto}}" />

	<div id="biggerScreens">

		<h2 class="artistname">{{artistName}}</h2>

		<div class="content">

			<p class="bio">{{artistBio}}</p>

			<button type="button" id="saveArtist" class="btn" ng-class="{'btn-danger': $parent.savedArtist, 'btn-primary': !$parent.savedArtist}" ng-show="loggedIn" ng-click="saveArtist()">{{saveArtistButton}}</button>

		</div>

	</div>

	<div class="content bottomContent">

		<hr />

		<div id="discography">
			<a name="discography"></a>
			<h2>DISCOGRAPHY</h2>
			<div class="albumResults">
				<ul class="eachAlbum">
					<li ng-repeat="album in allAlbums">{{album.name}}</li>
				</ul>
			</div>
		</div>

	</div>

	<div id="videos" class="boxShadow">
		<a name="videos"></a>
		<h2>VIDEOS</h2>
		<div class="error">{{error}}</div>
		<iframe ng-repeat="video in allVideos" width="100%" height="100%" ng-src="{{getIframeSrc(video.id.videoId)}}" ng-show="videoResults" frameborder="0" allowfullscreen></iframe>
	</div>

	<div ng-include="'app/partials/footer2.html'">
	</div>

</section>
