html {
  position: relative;
  min-height: 100%;
  background-image: url("http://wallpapercave.com/wp/Fo3Kx0j.jpg");
  background-repeat: no-repeat;
  background-position: 75% 0%;
  background-size: cover; }

body {
  margin: 0 0 76px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: 1s;
  color: #ebebeb; }

h1,
.branding {
  color: #fff;
  font-family: 'Oswald', sans-serif; }

h1 {
  font-size: 5em; }

h2 {
  color: #b5cde3;
  font-family: 'Oswald', sans-serif; }

h2.artistname {
  color: #fff;
  background-color: #4682B4;
  margin: 0;
  padding: 10px 20px;
  line-height: 1.2em; }

p {
  margin: 0; }

hr {
  border-top: 1px solid #4682B4;
  margin-top: 0; }

#homePage,
#loginPage,
#registerPage {
  width: 80%;
  margin: 25% auto;
  text-align: center; }

#homePage {
  margin: 15% auto; }

#subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 30px;
  color: #b5cde3;
  width: 256px;
  margin: 0 auto 40px; }

#homePage input,
#loginPage input,
#registerPage input {
  margin: 0 auto 10px;
  height: auto;
  font-size: 1.4em;
  text-align: center;
  max-width: 500px; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.navbar-default {
  background-color: #4682B4;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0 !important; }

.navbar {
  margin-bottom: 0; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:visited {
  background-color: #4682B4; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
  background-color: #b5cde3; }

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #4682B4; }

.navbar-default .navbar-toggle {
  border-color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Oswald', sans-serif; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
  color: #b5cde3; }

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0; }

.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 0;
  padding: 8px 0 5px 15px;
  background-color: #396a93; }

.navSearch {
  width: 70%;
  display: inline-block;
  margin-right: 4%; }

.btnSearch {
  position: relative;
  top: -1px; }

#homeSearch,
#loginSubmit,
#registerSubmit {
  margin: 15px 0; }

#homeContent {
  text-align: center; }

#homeContent > img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  position: relative;
  left: 10px; }

#loginOrRegister {
  width: 150px;
  margin: 0 auto;
  color: #fff; }

#loginOrRegister a:link,
#loginOrRegister a:visited {
  color: #b5cde3; }

#loginOrRegister a:hover,
#loginOrRegister a:active {
  color: #4682B4;
  text-decoration: none; }

.userGreeting,
.userOptions {
  font-family: 'Oswald', sans-serif;
  padding: 15px;
  cursor: default;
  position: relative;
  display: block;
  text-transform: uppercase;
  background-color: #396a93; }

.userOptions {
  background-color: #4682B4; }

.userOptions:hover {
  cursor: pointer;
  color: #b5cde3; }

.artistimage {
  width: 100%; }

.content {
  background-color: #000; }

.content,
#pastSearchesPage {
  padding: 20px; }

#saveArtist {
  margin-top: 20px; }

#saveArtist:hover {
  background-color: #d9534f;
  cursor: default; }

.bottomContent {
  padding-top: 0; }

#pastSearchesPage {
  width: 320px;
  margin: 0 auto; }

#pastSearchesPage h2 {
  margin-bottom: 20px; }

.eachAlbum {
  padding-left: 0;
  line-height: 2em;
  font-weight: bold; }

.eachAlbum li {
  list-style: none; }

.eachPastArtist {
  padding: 0; }

.eachPastArtist li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  list-style-type: none;
  background-color: #4682B4;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px; }

.eachPastArtist li:hover {
  opacity: 0.7;
  color: #b5cde3;
  cursor: pointer; }

.eachPastArtist:hover {
  color: #b5cde3; }

#videos {
  background-color: #a3c1dc;
  padding: 20px 20px 5px; }

.boxShadow {
  box-shadow: inset 0 7px 9px -7px rgba(70, 30, 180, 0.4), inset 0 -7px 9px -7px rgba(70, 30, 180, 0.4); }

#videos h2 {
  margin: 0 0 15px;
  color: #4682B4; }

video.video-stream.html5-main-video {
  width: 100%;
  height: auto;
  left: 0; }

.frameContainer {
  position: relative;
  margin-bottom: 20px; }

.frameContainer:before {
  content: "";
  display: block;
  padding-top: 70%; }

iframe {
  margin: 5px auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.error {
  font-weight: bold;
  font-style: italic;
  color: #000;
  margin-bottom: 10px; }

footer {
  color: #b5cde3;
  text-align: center;
  width: 100%;
  height: 76px;
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 0.9em; }

.searchFooter {
  background-color: #000; }

/**********************
MEDIA QUERIES
**********************/
@media screen and (min-width: 480px) {
  #subtitle,
  #loginOrRegister {
    width: 100%; }

  #homePage {
    margin: 10% auto; }

  .artistimage {
    width: 50%;
    display: inline;
    padding: 20px 0 20px 20px; }

  #results {
    background-color: #000; }

  #biggerScreens {
    width: 50%;
    float: right; }

  .content {
    clear: both; }

  h2.artistname {
    color: #b5cde3;
    background-color: transparent;
    padding: 20px 0 0 20px; }

  hr {
    margin-top: 5px; } }
@media screen and (min-width: 640px) {
  #homePage,
  #loginPage,
  #registerPage {
    margin: 100px auto; }

  #homePage {
    margin: 50px auto; }

  #homeContent > img {
    width: 80%; } }
@media screen and (min-width: 768px) {
  .navbar-form {
    float: left !important;
    width: 287px;
    padding: 0 15px;
    margin-right: 10px; }

  #navigationSearch {
    margin: 8px 0 7px; }

  .navSearch {
    width: auto; }

  .frameContainer {
    width: 30%;
    margin: 0 1.6% 20px;
    display: inline-block; }

  #homeContent > img {
    width: 70%; } }
@media screen and (min-width: 900px) {
  #homeContent > img {
    width: 60%; } }

/*# sourceMappingURL=main.css.map */
